.logoSearch{
    width: 65%;
    display: flex;
    align-items: center;
    align-content: center;
  
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.headerLogo{
    margin-top: 20px;
    width: 100px;
}

.navContainer{
    width:35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.links{
    padding:0 7px;
    color:white; 
    text-decoration:none;
}

.secondLine{
    font-weight: bold;
}
