.homeContainer {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: #eaeded;
}

.homeBanner {
    background-image: url("../assets/images/home.jpg");
    min-height: 550px;
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
}

.container {
    display: flex;
    flex-direction: column;
}

.productsContainer {
    width: 100%;
    display: flex;
    margin-top:270px;
    flex-wrap: wrap;
}


@media (min-width: 1500px){
    .productsContainer {
        margin-top:300px;
    }
}
