

.productWrapper{
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 23%;
    margin-left:23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

