.productWrapper {
    background-color: rgb(255, 255, 255);
    height: 480px;
    width: 23%;
    margin-left:23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
}

.imgContainer{
    padding: 20px;
    height: 50%;
}

.productImage {
    object-fit: cover;
}

.title, .price, .rating{
    align-self: flex-start;
} 

.title{
    margin-bottom: 10px;
    height: auto;
    width: 90%;
    padding: 0;
    

}

.price{
    font-weight: bold;
}

.rating{
    font-size: 15px;
}



